div.create-article(ng-controller='CreateArticleCtrl')
	p Article form
	p user model test : {{usermodel}}
	form(name='createArticleForm' novalidate)
		div.validation(ng-show='createArticleForm.$submitted') 
			span(ng-show='createArticleForm.bodyText.$error.required') body text is required
		div
			input(ng-model='article.title', id='title', type='text', value='', placeholder='title', name='title', required)
		div		
			textarea(ng-model='article.bodyText', id='bodyText', placeholder='body text', name='bodyText', rows='10', cols='60', required)
		
		input(ng-click='submitArticle()', type='submit', value='Submit')